<div class="content">
    <div class="header"><a class="name select-none" tyc-event-click="" tyc-event-ch="CompanySearch.Company"
                           href="https://www.tianyancha.com/company/1073358312" target="_blank">
        <text class="tyc-num lh24"><em>腾讯</em>然技（上像）有希公士</text>
    </a>
        <div class="tag num-opening">存续</div>
    </div>
    <div class="info">
        <div class="title text-ellipsis">法定代表人：<a title="奚丹" class="legalPersonName hover_underline" target="_blank"
                                                  href="https://www.tianyancha.com/human/1868933287-c1073358312">奚丹</a>
        </div>
        <div class="title  text-ellipsis">注册资本：<span title="500万美元">500万美元</span></div>
        <div class="title  text-ellipsis">注册时间：<span title="2008-07-23 00:00:00.0">2008-07-23</span></div>
    </div>
    <div class="contact">
        <div class="col"><span class="label">联系电话：</span><span>021-5456****</span><span class="link-click"
                                                                                        onclick="openPhonePopup(this)"
                                                                                        tyc-event-click=""
                                                                                        tyc-event-ch="CompanySearch.MoreTel">查看更多</span>
        </div>
        <div class="col"><span class="label">邮箱：</span><span>***@tencent.com</span><span class="link-click"
                                                                                         onclick="openEmailPopup(this)">查看更多</span>
        </div>
    </div>
    <div class="match text-ellipsis"><span class="label">公司简称：</span><span><em>腾讯</em></span></div>
    <div class="tag-list">
        <div class="tag tag-new-category -bound tag-mr">高新企业</div>
    </div>
</div>